/*reset CSS*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/*Global*/
html {
}

/*header*/
.header {
  padding: 0 150px;
}

.header__logo img {
  width: 150px;
  padding: 10px;
}

.header__menu a {
  text-decoration: none;
  color: #1e1e1e;
  padding: 10px;
}

.header__menu li {
  display: inline-block;
}

.header__menu li:first-child {
  margin-left: 20px;
}

/* Carousel*/
.carousel {
  background-image: url(/img/2.jpg);
  height: 600px;
  background-size: cover;
  margin: 20px 0;
}
